@model  PagedList.IPagedList<Ferro_Velho.Entidades.CaixaVo>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mensagem = TempData["mensagem"] != null ? TempData["mensagem"].ToString() : "";
}

<p></p>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p style="text-align:center"><a class="btn btn-group-justified btn-lg btn-primary" href="/Home/Index" style="padding-top:10px; padding-bottom:10px; font-size:x-large;">Página Inicial &raquo;</a></p>
    </div>
</div>
<p></p>

<h2>Financeiro</h2>

@using (Html.BeginForm("Index", "Caixa", FormMethod.Get, new { @class = "well" }))
{
    <div class="row">
        <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <label class="control-label" for="txtDataInicial">Data Inicial Transação</label>

            @Html.TextBox("dataInicial", "", new { id = "txtDataInicial", @class = "form-control data", @maxlength = "15" })
        </div>
        <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <label class="control-label" for="txtDataFinal">Data Final Transação</label>
            @Html.TextBox("dataFinal", "", new { id = "txtDataFinal", @class = "form-control data", @maxlength = "15" })
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <label class="control-label" for="txtNomeCliente">Nome Cliente</label>
            @Html.TextBox("nome", "", new { id = "txtNomeCliente", @class = "form-control", @maxlength = "50" })
        </div>
    </div>

    <input type="submit" value="Pesquisar" class="btn btn-primary" />

    @Html.ActionLink("Nova Transação", "Cadastro", null, new { @class = "btn btn-success" })
}


<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Nome Cliente</th>
                <th>Descrição Material</th>
                <th>Transação</th>
                <th>Peso</th>
                <th>Data Transação</th>
                <th>Valor Total</th>
                <th>Motivo Exclusão</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var atendimento in Model)
            {
                <tr>
                    <td>@atendimento.Cliente.Nome</td>
                    <td>@atendimento.Material.Descricao</td>
                    <td>@atendimento.Transacao</td>
                    <td>@atendimento.Pesagem</td>
                    <td>@atendimento.Data_Transacao</td>
                    <td>@atendimento.Valor_Total</td>
                    <td>@atendimento.Motivo_Exclusao</td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    @*Página @Model.PageNumber de @Model.PageCount*@

    @Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page }))

</div>

<script>
    $(document).ready(function () {

       var msg = '@(!string.IsNullOrEmpty(mensagem)?mensagem:"")';

        if (msg != '') {
            alert(msg);
        }

    });
</script>